AddDefaultCharset UTF-8

ErrorDocument 404 /404.html

RedirectMatch permanent /docs/manual/en/(.*) /docs/manual/$1
RedirectMatch permanent /docs/misc/(.*) /misc/$1
Redirect permanent /docs/Maxima_Bruna_Santos_2009.pdf /docs/tutorial/pt/Maxima_Bruna_Santos_2009.pdf
Redirect permanent /docs/intromax/intromax.html /docs/manual/intromax.html
Redirect permanent /docs/intromax/intromax.pdf /docs/manual/intromax.pdf