body { font-family: 'Arial', sans-serif; background: #fff; color: #000; padding: 0 1%; margin: 0; color: #000 }

@media screen {
    body { padding: 0 5% }
}

.head-splitter { font-size: 0px; clear: both; padding: 0; margin: 0; height: 1px; color: #fff }

html { padding: 0; margin: 0 }

@media screen, projection, tv {
    abbr, acronym { border-bottom: dotted 1px #333; cursor: help }
}

address, pre { margin: 1.2em 0 }
pre { padding: 0.5em 0 0.5em 3% }

address, cite, em, var, dfn { font-style: italic }
strong { font-weight: bold }
code, kbd, pre, samp { font-family: 'Courier New', monospace }

h2, h3, h4, h5, h6 { padding: 0; margin: 1.6em 0 0.4em 0 }
h2, h3, h4, h5, h6 { font-weight: normal }

h1 { font-weight: normal }
h1, h1 :link, h1 :visited, h1 a:hover, h1 a:active { color: #03c }
.mks { margin-right: 0.5em; vertical-align: middle; border: none }
h1 { font-size: 200%; padding-top: 0.15em; padding-bottom: 0.6em; padding-left: 0.4em; margin: 0 }

p { padding: 0; margin: 0 0 0.8em 0 }

dt { font-size: 110%; padding: 0 0 0 0; margin: 0 0 0.4em 0 }
dd { padding: 0 0 0 4%; margin: 0 0 0.8em 0 }

h2 { font-size: 200% }
h3 { font-size: 170% }
h4 { font-size: 130% }
h5 { font-size: 110% }
h6 { font-size: 100% }

:link { color: #06f }
:visited { color: #969 }
a:hover, a:active { text-decoration: none; color: #c00 }
a:active { outline: dotted #666 1px }

.langnav { font-size: 80%; text-align: right; padding: 0.5em; margin: 0 -5% }
.langnav, .langnav :link, .langnav :visited, .langnav a:hover, .langnav a:active { color: #00f }

@media screen {
    .nav { font-size: 80%; width: 16%; float: left; list-style-type: none; margin: 0; padding: 0; background: #8ae }
    .nav li { padding: 0; margin: 0; border-bottom: dashed #fff 1px }
    /*.nav a { text-decoration: none }*/
    .nav a, .nav .current span { padding: 0.4em; margin: 0; display: block }

    .nav :link, .nav :visited { color: #fff }

    .nav .current span { color: #fff; background: #99c; font-size: 130% }
    .nav a:hover { color: #fff; background: #c66 }

    .body { width: 80%; float: right; padding: 0 0 3em 0 }

    .nav .sflink { background: #fff; border: none; padding-top: 3em }
    .nav .sflink a { display: inline }
    .nav .sflink a:link, .sflink a:hover { background: none }
    .nav .sflink img { background: none; border: none }
}

.footer { clear: both; border-top: solid #ccd 1px; padding: 0.5em; font-size: 80%; color: #667; margin: 0 -5% 0.2em -5% }

.rss { padding: 0.1em 0.3em; vertical-align: top; font-weight: bold; font-size: 50% }
.rss, .rss:hover { background: #fc3; color: #000 }

.catit h3, .catit p { padding: 0; margin: 0 }
.catit h3 { font-size: 130% }
.catit { padding: 0; margin: 0 0 1em 0 }
.catit .url { font-size: 85% }

.dashedlist-t { display: table; border-collapse: collapse; margin: 0 0 0.8em 0 }
.dashedlist-t .list-item { vertical-align: top; padding: 0.05em 0; margin: 0 }
.dashedlist-t .list-marker { vertical-align: top; padding: 0.05em 0.4em 0.05em 1.5em }

.labeled-image { margin: 2em 0; font-style: italic }

.small { color: #666; font-size: 80% }

blockquote { font-style: italic; padding: 0.2em 0 0.2em 2%; margin: 1em 0 1em 2%; background: #def }

@media screen {
    .answer { display: none }
}

.il { list-style-type: none; padding: 0 0 0 5%; margin: 0 }
.il li { padding: 0; margin: 0 }

.done1 { color: #999 }
.done2 { color: #666 }
.done3 { color: #333 }

.bordered-table, .dl-table { border-collapse: collapse }
.bordered-table td, .dl-table td, .bordered-table th, .dl-table th { border: solid #ccd 1px }
.bordered-table td, .bordered-table th { border: solid #ccd 1px; text-align: left; padding: 0.2em }

.highlight { font-size: 120%; background: #dde; color: #336 }

.hl { padding: 0 0 10px; background: #dde; margin: 1em 0 }
.hl .hlh { padding: 5px 10px; margin: 0 0 10px 0; text-transform: uppercase; color: #fff; background: #669 }
.hl p { padding: 0 10px }

/* Used in /lisp.html */
.ycell { background: #efe }
.ncell { background: #fee }
.yncell { background: #ffe }
td.ycell, td.ncell, td.yncell, td.ucell { text-align: center }

.langlink { font-size: 150% }

.icon { border: none; vertical-align: middle }

form { padding: 1em }
fieldset { padding: 0; margin: 0; border: none }


/* Stuff for reference manual pages */
.u { text-decoration: underline }
.nav-item { background: #eef; padding: .15em .3em; margin: 0 .5em }

a.summary-letter { text-decoration: none }
pre.display, pre.format, pre.menu-comment, pre.menu-preformatted, pre.smalldisplay, pre.smallformat { font-family: sans-serif }

span.sansserif { font-weight: normal }

pre.smalldisplay, pre.smallexample, pre.smallformat, pre.smalllisp { font-size: smaller }

ul.toc { list-style: none }

div.textbox { border: solid; border-width: thin; padding-top: 1em; padding-bottom: 1em; padding-left: 2em; padding-right: 2em }

div.titlebox { border: none; padding-top: 1em; padding-bottom: 1em; padding-left: 2em; padding-right: 2em; background: rgb(200,255,255); font-family: sans-serif }

div.synopsisbox { border: none; padding-top: 1em; padding-bottom: 1em; padding-left: 2em; padding-right: 2em; background: rgb(255,220,255) }
pre.example { border: solid #d0d0d9 1px; padding: 0.5em; margin: 1em 2em; background: #f0f0f9 }
div.spacerbox { border: none; padding-top: 2em; padding-bottom: 2em }
div.image { margin: 0; padding: 1em; text-align: center }
div.categorybox { background: #f9f0f3; border: solid #d9d0d3 1px; padding: 0.5em }

.mantab td, .mantab th { vertical-align: top; text-align: left }
